.navigator {
    display: flex;
    padding: 1em;
    background-color: #7d4131;
    justify-content: center;
    align-items: center;
}

.nav-link {
    padding: 5px 10px;
    margin: 0 10px;
    text-decoration: none;
    background-color: #ce5321;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 4px;
}
